.row {
    background-color: #370617;
    padding: 20px;
    display: flex;
}

.row2 {
    background-color: #F48C06;
    padding: 20px;
    display: flex;
}

.item {
    width: 78px;
    height: 78px;
    margin:20px;
    border-radius: 12px;
    background-color: #9D0208;
}

.box {
    height: 200px;
    background-color: #F48C06;
    display:flex;
    align-items: flex-end;
    margin: 20px;
    border-radius: 12px;
    flex: 1;
}

.square {
    height: 200px;
    margin: 20px;
    background-color: #03071E;
    flex: 1; 
}

.circle {
    background-color: #748CAB;
    height: 50px;
    width: 50px;
    margin: 10px;
    border-radius: 30px;
    display: flex;
}

.box2 .item {
    height: auto;
}

.box2 {
    align-items: stretch;
    justify-content: center;
}

.box3 .item {
}



.box3 {
    justify-content: flex-end;
    align-items: center;

}

.box4 {
    align-items: flex-start;
    justify-content: space-around;
}

.last {
    align-self: flex-end;

}

.box5 {
    justify-content: space-around;
    align-items: baseline;

}

.long {
    height: 140px;
}

.middle {
    height: 78px;
    align-self: center;
}

.txt {
    margin-top: 30px;
}

.box6 {
    justify-content: center;
    align-items: center;
}

.box6 .item .center {
    align-self: stretch;
}
.center {
    width: 35%;
}
